@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.cl-internal-b3fm6y{
    display:none !important;
}
h1:hover{
    text-decoration: underline;
}

*{
    font-family: "Montserrat", sans-serif !important;
    font-weight: 500!important;
}

th{
    border-radius: 0px !important;
}
